.spot-detail {
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#spotName {
    text-align: left;
    padding-top: 20px;
}

#spotLocation {
    font-size: 18px;
    font-weight: 100;
}

.image-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    width: 90vw;
    max-width: 1000px;
    height: 500px;
    justify-content: center;
    justify-self: center;
    text-align: center;
    margin: 0 ;
    
}

.previewImg {
    grid-column-start: 1 ;
    grid-row-start:1;
    padding: 5px;
    min-width: 100%;
    max-height: 200%;
    min-height: 200% ;
    margin: 5px;
    
}


#prev1, #prev2, #prev3, #prev4 {
   
    border-radius: 15px;
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    padding: 5px ;
    margin: 5px;
}

#prev3 {
    grid-column-start: 2;
}

#hosted-by{
    padding-top: 20px;
    padding-bottom: 10px;
    max-width: 70%;
}

.under-images {
    display: flex;
    border-bottom: solid black 1px;
    justify-content: space-between;
}

.reservation-area {
    padding-top: 20px;
   border: solid black 3px;
   border-radius: 10px;
margin-top: 10px;
margin-bottom: 10px;
padding-left: 20px; 
padding-right: 20px;
padding-bottom: 20px;
max-height: 120px
    
}

#price {
    font-size: 20px;
}

.reserve-button {
    margin: 0 auto;
    width: 90%;
    margin-top: 10px;;
    
    border-radius: 0px;
    
    box-shadow:  black 5px 5px;
}

.reviews-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.center-dot {

    vertical-align: middle;
}

.reviewer-name {
    font-size: 18px;
}

.review-date {
    color: grey;
    font-size: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.review{
    padding-bottom: 40px
}
.post-review-button{
    padding-top: 10px;
}

.delete-review-button{
    margin-top: 10px;
    background: grey;
    border: none;
    box-shadow: rgba(0, 0, 0, 1) 5px 5px 3px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 12px;
    border-radius: 0px;
}