img {
    border-radius: 10px;
    max-width: 20vw;

}

.thumbnail-container {
    max-height: 50vh;
    min-width: 300px;
    max-width: 24vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.1fr;
    flex-basis: 33%;
    margin-left: 10px;
    margin-right: 10px;
}



.primary-text {
    font-size: 18px;
    font-weight: bold;
}

.secondary-text {
    font-size: 16px;
}



nav:not(.nav-bar) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;

}

.thumbnail-image {
    height: 175px;
    min-width: 300px;
}

.thumbnail {
    display: flex;
    justify-content: space-between;
    height: 75px;
    align-items: flex-start;
}

.address-text {
    text-align: left;
    display: inline;
}

.star-text {
    display: inline-block;
    text-align: right;
    padding-left: 50px;
}

.price-text {
    text-align: left;

}

.update-delete-container {
    display: flex;
    justify-content: left;
    align-items: start;
    margin-bottom: 40px;
}

.update-delete-buttons {
    justify-self: left;
    
}

.delete-button {
    
    border: gray solid 1px;
}

.update {
    background-color: gray;
    border: black solid 1px;
}

.manage-spots-header {
    display: flex;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 30px;
}

header {
    margin-bottom: 10px;
}

.outer-div-manage {
    margin-left: 15px;
    margin-right: 15px;
}

