.dont-delete{
    background: gray;
    margin-bottom: 15px;
    margin-top: 15px;
     border: black solid 2px;
    box-shadow: rgba(0, 0, 0, 1) 5px 5px;
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
}

h2 {
    font-size: 18px;
    text-align: left;
}

.yes-delete{
     margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
     border: black solid 2px;
    box-shadow: rgba(0, 0, 0, 1) 5px 5px;
    width: 90%;
}

.delete-form {
    display: flex;
    border: none;
    max-width: 35vw;
    
   
}

#modal-content{
    border: black solid 3px;
     margin: 3px auto;
    padding: 0px 0px 0px 0px;
    display:flex;
    width: 40vw
}