.headers {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
     text-align: left;
    justify-content: left;
    display: flex;
    align-items: start;
    max-width: 64vw;
    margin: 0 auto;
}

.newSpotForm {
    padding-top: 10px;
    margin-top: 30px;
    margin: 0 auto;
    max-width: 80vw;
    display: flex;
    align-items: center;
    border: none;
    
}

.cityState-form {
    display: inline-block;
    width: 100%;
}

.latLong-form{
    display: inline-block;
   
}

label {
    display: inline-flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
}

input {
  margin: 5px;
   padding: 6px;
   width: 100%;
    background-color: rgba(0, 255, 255, 0.05);
}

.rr {
    color: red;
    font-size: 15px;
}

.location-form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-height: 80%;
    margin: 0 auto;
    justify-content: center;
    min-width: 80%;
    text-align: center;
    
}

.createSpotButton-form:disabled {
    background-color: white;
        color: grey;
        border: grey solid 3px;
        box-shadow: 0px 5px 0px;
        cursor: not-allowed;
}

.cityState-form {
    display: inline-flex;
    justify-content: space-around;
}

.latLong-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    border-bottom: solid black 2px ;
    padding-bottom: 10px;
}

textarea {
    width: 90%;
    background-color: rgba(0, 255, 255, 0.05);
    border: solid black 2px;
    margin-bottom: 15px;
}

.description-form {
    padding-top: 30px;
    border-bottom: solid black 2px;
    max-width: 80%;
}

.title-headers {
    padding-top: 20px;
    min-width: 64vw;
}

.photos-form {
    padding-top: 20px;
    min-width: 80%;
    padding-bottom: 20px;
    border-bottom: solid black 2px ;
}

.createSpotButton-form {
    margin-top: 20px;
    margin-bottom: 20px;
}

.price-form {
padding-top: 10px;
   min-width: 64vw;
   padding-bottom: 20px;
   border-bottom: black solid 2px;
}

.dollar-sign {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 100%;
}