.fa-solid:hover {
   color: red;
   background-color: white;
   
}

.fa-regular {
    visibility: hidden;
    display: none;
}

.filled {
    color: red;
}

.review-button:disabled {
 background-color: white;
    color: grey;
    border: grey solid 3px;
    box-shadow: 0px 5px 0px ;
    cursor: not-allowed;
}

.review-form {
    border: none;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    margin: 0 auto ;
}

h1 {
    padding-top: 30px;
}

.review-textarea{
    outline: none;
    width: 100%;
    resize: none;
    overflow: auto;
}

.review-button {
    margin-top: 20px;
    margin-left: 8px;
}