h1 {
	font-size: 1.375rem;
	line-height: 1.625rem;
	font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
	font-weight: 600;
	margin-bottom: 8px;
	padding-left: 20px;
}

form {
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
	display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
	flex-direction: column;
	max-width: 220px;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 20px;
	border: solid black 2px;
    vertical-align: middle;
    text-align: center;
    border-radius: 6px;
}

input {
	width: 200px;
    
}

label {
	font-size: 18px;
	padding-bottom: 5px;
	padding-top: 10px;
}

form:hover {
	background-color: rgba(250, 0, 0, 0.02);
    
}
.pword {
    grid-row: 2;
    padding-bottom: 20px;
}

button {
	
    grid-row: 3;
	background: #ff4742;
	border: 1px solid #ff4742;
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
	box-sizing: border-box;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
	font-size: 16px;
	font-weight: 800;
	line-height: 16px;
	min-height: 40px;
	padding: 12px 14px;
	text-align: center;
	
	
}
.button:hover,
.button:active {
	background-color: initial;
	background-position: 0 0;
	color: #ff4742;
}

.button:active {
	opacity: 0.5;
}
