a {
    display: grid;
    flex-direction: column;
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
}

li {
   list-style-type: none;
   display: grid;
   font-size: 30px;
   font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
}

button {
    
	background: #ff4742;
	border: 1px solid #ff4742;
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
	box-sizing: border-box;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
	font-size: 16px;
	font-weight: 800;
	line-height: 16px;
	min-height: 40px;
	padding: 12px 14px;
	text-align: center;
    max-width: 300px;
}


.hidden {
    display: none;
    visibility: hidden;
}
